.navbar-brand {
	padding-top: 12px;
}

.navbar-brand img {
	max-height: 100%;
}

.navbar-right {
	margin-right: 10px;
}

.navbar-inverse {
	background-color: #2CB0A7;
	border-color: #2CB0A7;
}

.panel-default{
	margin-left: 10px;
	margin-right: 10px;
}

.alert{
	margin-left: 10px;
	margin-right: 10px;
}

#novo-relatorio {
	margin-left: 10px;
	margin-bottom: 10px;
}

.btn-jetro {
	background: #2cb0a7;
	border-color: #2cb0a7;
}
.btn-jetro:hover { opacity: 0.6; color: #fff; }

.btn-jetro:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.btn-jetro:focus { outline: 0; opacity: 0.6; background: #2cb0a7; color: #fff; }

.btn-jetro:active:focus, .btn-jetro.active:focus { outline: 0; opacity: 0.6; background: #2cb0a7; color: #fff; }

.link-panel {
	float: right;
	padding: 0px;
}

.titulo-panel {
	float: left;
	padding-top: 2px;
}