.navbar-brand {
	padding-top: 12px;
}

.navbar-brand img {
	max-height: 100%;
}

.panel-default{
	margin-left: 10px;
	margin-right: 10px;
}

.alert{
	margin-left: 10px;
	margin-right: 10px;
}

#novo-relatorio {
	margin-left: 10px;
	margin-bottom: 10px;
}