<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPadrao">
<head>
	<title>Cadastro de Relatórios</title>
</head>
<section layout:fragment="conteudo">
	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
	</div>
	<form class="form-horizontal" method="POST" action="/relatorios">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h4 class="panel-tile titulo-panel">Novo Relatório de Célula</h4>
					<a class="btn btn-link link-panel" href="/relatorios/lista">Volta para pesquisa</a>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label  for="idCelula" class="col-sm-2 control-label">Célula</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" th:value="${nomeCelula}" readonly="readonly"/>
					</div>
				</div>
				<div class="form-group">
					<label for="data" class="col-sm-2 control-label">Data</label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="data" name="data" th:value="${dataDeHoje}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="horaInicio" class="col-sm-2 control-label">Hora de Início</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="horaInicio" name="horaInicio" maxlength="4"/>
					</div>
				</div>
				<div class="form-group">
					<label for="horaFim" class="col-sm-2 control-label">Hora de Fim</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="horaFim" name="horaFim" maxlength="4"/>
					</div>
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Preletor</label>
					<div class="col-sm-2">
						<select class="form-control" id="preletor" name="preletor" >
							<option th:each="entry : ${listaPreletores.entrySet()}"
									th:value="${entry.key}"
									th:text="${entry.value}">
							</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="numeroPresentes" class="col-sm-2 control-label">Presentes</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="numeroPresentes" name="numeroPresentes"/>
					</div>
				</div>
				<div class="form-group">
					<label for="numeroVisitantes" class="col-sm-2 control-label">Visitantes</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="numeroVisitantes" name="numeroVisitantes"/>
					</div>
				</div>
				<div class="form-group">
					<label for="louvor" class="col-sm-2 control-label">Louvor</label>
					 <div class="col-sm-4">
		            	<div class="btn-group" data-toggle="buttons">
		                	<label class="btn btn-default"><input type="radio" id="radio" name="indLouvor" value="R" checked="checked"/>Rádio</label> 
		                	<label class="btn btn-default"><input type="radio" id="ministro" name="indLouvor" value="M"/>Ministro</label>
		                </div>    
	                </div>
				</div>
				<div class="form-group">
					<label for="observacao" class="col-sm-2 control-label">Dificuldades Naturais</label>
				    <div class="col-md-4">
			            <textarea class="form-control" rows="3" maxlength="250" placeholder="Caso tenha tido alguma dificuldade, usar este espaço para descrevê-la"></textarea>
			        </div>
        		</div>
				<div class="form-group">
					<label for="oracao" class="col-sm-2 control-label">Dificuldades Espirituais</label>
					<div class="col-md-4">
						<textarea class="form-control" rows="3" maxlength="250" placeholder="Caso tenha tido alguma dificuldade espiritual, usar este espaço para descrevê-la"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary btn-jetro">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
</html>