<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<title>Cobranca</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="images/icone/favicon-jetro.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icone/apple-touch-icon-144-jetro.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icone/apple-touch-icon-114-jetro.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icone/apple-touch-icon-72-jetro.png"/>
    <link rel="apple-touch-icon-precomposed" href="images/icone/apple-touch-icon-57-jetro.png"/>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/relatorios/lista">
					<img alt="Jetro" src="/images/jetro_logo_branco.png"/>
				</a>
			</div>
			<div class="nav navbar-nav navbar-right">
				<form th:action="@{/logout}" method="post" >
    				<input class="btn btn-default navbar-btn" id="logout" type="submit" value="Sair"/>
				</form>  
			</div>
		</div>
	</nav>
	
	<section layout:fragment="conteudo">
	</section>
	
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>	
</body>
</html>