<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPadrao">
	  
<head>
	<title>Lista de Células</title>
</head>
<section layout:fragment="conteudo">
	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
	</div>
	<a th:href="@{/relatorios/novo}">
		<button type="submit" id="novo-relatorio" class="btn btn-primary btn-jetro">Novo Relatório</button>	
	</a>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Relatórios de Células</h4>
		</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th class="text-center col-md-1">Id da Célula</th>
						<th class="text-center col-md-1">Data</th>
						<th class="text-center col-md-1">Hora do Início</th>
						<th class="text-center col-md-1">Hora do Fim</th>
						<th class="text-center col-md-1">Preletor</th>
						<th class="text-center col-md-1">Presentes</th>
						<th class="text-center col-md-1">Visitantes</th>
						<th class="text-center col-md-1">Oração</th>
						<th class="text-center col-md-1">Dificuldades</th>
						<th class="text-center col-md-1">Louvor</th>
						<th class="text-center col-md-2">Situação</th>
						<th class="col-md-1"></th>		
					</tr>
				</thead>
				<tbody>
					<tr th:each="relatorio: ${relatorios}">
						<td class="text-center" th:text="${relatorio.idRelatorio}"></td>
						<td class="text-center" th:text="${relatorio.idCelula}"></td>
						<td class="text-center" th:text="${{relatorio.data}}"></td>
						<td class="text-center" th:text="${relatorio.horaInicio}"></td>
						<td class="text-center" th:text="${relatorio.horaFim}"></td>
						<td class="text-center" th:text="${relatorio.preletor.apelido}"></td>
						<td class="text-center" th:text="${relatorio.numeroPresentes}"></td>
						<td class="text-center" th:text="${relatorio.numeroVisitantes}"></td>
						<td class="text-center" th:text="${relatorio.indOracao}"></td>
						<td class="text-center" th:text="${relatorio.indDificuldade}"></td>
						<td class="text-center" th:text="${relatorio.indLouvor}"></td>
						<td class="text-center" th:text="${relatorio.indSituacao}"></td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
	   								th:attr="data-idrelatorio=${relatorio.idRelatorio}">
	   							<span class="glyphicon glyphicon-remove"></span>
	   						</a>
	   					</td>
					</tr>
					<tr>
						<td colspan="12" th:if="${#lists.isEmpty(relatorios)}">Nenhum Relatório foi encontrado</td>
					</tr>
				</tbody>
			</table> 
		</div>
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>
</section>
</html>